.bg{
    background: #1e2124;
    color: white;
    display: flex;
    align-items: center;
}
html, body{
    margin: 0;
    padding: 0;
}
.logo{
    position: absolute;
    left: 100px;
    font-size: 25px;
    color: #e3e3e3;
}
.tap{
    color: #FF4D6D;
}
.bgFooter{
    display: flex;
    background: #1e2124;
    color: white;
    text-align: center;
    justify-content: space-between;
}
.anilibria{
    position: relative;
    transform: translateY(-50%);
}
.GitHubImg{
    position: relative;
    transform: translateY(-50%);
}
.GitHub{
    display: inline-block;
}
.bgFooter>p{
    position: relative;
    transform: translateY(-50%);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
.btnBack{
    background: #424549;
    border: 0px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}
.btnBack:hover{
    background: #3a3d41;
}
html{
    background: #282b30;
}
.AnimeImg{
    border-radius: 24px;
}
.anime-title{
    display: flex;
}
.content{
    display: flex;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    font-family: Andale Mono, monospace;
}
.info>p{
    color: white;
}
.info>h1{
    width: 400px;
}
.episode-btn{
    padding: 25px;
    font-family: Andale Mono, monospace;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s ease;
    background: #191c1f;
    border: 2px solid #4b4e5d;
}
.episodes{
    display: grid;
    border-radius: 20px;
    gap: 50px;
}


/*PC*/
@media(min-width: 1024px){
.bg{
    height: 85px;
}
.logo{
    left: 100px;
    font-size: 25px;
}
.bgFooter{
    height: 100px;
    font-size: 20px;
    margin-top: 200px;
}
.anilibria{
    margin-left: 35px;
    top: 50%;
}
.GitHubImg{
    margin-right: 35px;
    top: 50%;
}
.bgFooter>p{
    top: 50%;
}
.btnBack{
    width: 45px;
    height: 40px;
    margin-left: 30px;
}
.AnimeImg{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
}
.anime-title{
    margin-left: 40px;
    margin-top: 50px;
}
.info>p{
    font-size: 18px;
    margin-top: 0;
}
#rating{
    margin-top: 50px;
}
.info>h1{
    width: 400px;
}
.episode-btn{
    width: 150px;
    height: 50px;
    padding: 25px;
    font-size: 20px;
    margin-top: 30px;
}
.episodes{
    max-width: 1100px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 170px));
}
.con{
    display: grid;
    justify-content: center;
    text-align: center;
}
.episode-btn:hover{
    transform: translateY(-3px);
}
}




/*phone*/
@media(max-width: 767px){
.bg{
    height: 85px;
}
.logo{
    left: 100px;
    font-size: 25px;
}
.bgFooter{
    height: 100px;
    font-size: 20px;
    margin-top: 200px;
}
.anilibria{
    margin-left: 35px;
    top: 50%;
}
.GitHubImg{
    margin-right: 35px;
    top: 50%;
}
.bgFooter>p{
    top: 50%;
    font-size: 16px;
}
.btnBack{
    width: 45px;
    height: 40px;
    margin-left: 30px;
}
.AnimeImg{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.anime-title{
    margin-left: 40px;
    margin-top: 50px;
}
.info>p{
    font-size: 18px;
    margin-top: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#rating{
    margin-top: 50px;
}
.info>h1{
    width: 400px;
}
.episode-btn{
    position: relative;
    width: 250px;
    height: 50px;
    padding: 25px;
    font-size: 20px;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.episodes{
    max-width: 1100px;
    text-align: center;
}
.con{
    display: grid;
}
.episode-btn:hover{
    top: -7px;
}
.content{
    flex-wrap: wrap;
}
}