.bg{
    background: #1e2124;
    color: white;
    height: 85px;
    display: flex;
    align-items: center;
}
html, body{
    margin: 0;
    padding: 0;
}
.logo{
    position: relative;
    left: 100px;
    font-size: 25px;
    color: #e3e3e3;
}
.tap{
    color: #FF4D6D;
}
.bgFooter{
    display: flex;
    background: #1e2124;
    color: white;
    height: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
}
.anilibria{
    position: relative;
    margin-left: 35px;
    top: 50%;
    transform: translateY(-50%);
}
.GitHubImg{
    position: relative;
    margin-right: 35px;
    top: 50%;
    transform: translateY(-50%);
}
.GitHub{
    display: inline-block;
}
.bgFooter>p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
html{
    background: #282b30;
}
.card{
    display: flex;
    width: 250px;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
    border: 1px solid black;
    transition: 0.2s ease;
    flex-direction: column;
}
.card img{
    width: 100%;
    display: block;
    aspect-ratio: 2.7/4;
}
#animeGrid{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.info{
    background: #282b30;
}
.title, .details{
    margin-left: 15px;
}
.cardInfo{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: hidden;
    font-size: 20px;
    gap: 15px;
}
.card:hover{
    transform: translateY(-7px);
    border: 1px solid #d21e1e;
    cursor: pointer;
}


.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    background: rgba(0,0,0, 0.5);
    font-family: Andale Mono, monospace;
}
.modal-window{
    background: #282b30;
    color: white;
    border-radius: 20px;
    min-width: 280px;
    padding: 16px;
}
.modal-overlay.show{
    visibility: visible;
    opacity: 1;
}
.rating{
    padding: 3px;
    background: #424549;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
.details{
    display: flex;
    gap: 10px;
}
.buttonDemo{
    margin-top: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #d21e1e;
    border: 1px solid #d21e1e;
    width: 250px;
    height: 40px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
.buttonDemo:hover{
    border: 1px solid black;
}
#buttonClose{
    background: transparent;
    color: white;
    border: 0px;
    font-size: 22px;
    float: right;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s ease;
}
#buttonClose:hover{
    color: lightgray;
}
.modalHeader{
    height: 50px;
    font-size: 18px;
}
.animeInfo{
    margin: 0;
    margin-top: 10px;
}





/*kaoruHanaWa*/
.image{
    border-radius: 25px;
}